p {
    color: #1d3fb3;
    text-align: center;
    margin: 130px;
    padding: 1px;
    font-size: 20px;
}

h1{
    color: #1d3fb3;
    text-align: center;
    margin: 130px;
    padding: 1px;
    font-size: 30px;

}

body {
    font-family: 'Cormorant Garamond';
    margin-bottom: 10px;
    font-weight: 500;

}

/*
header nav ul li a {
    text-decoration: none;

}

ul {
    width: 100%;
    color: #1d3fb3;
}

header li {
    display: block;
    text-align: center;
    display: block;

}

header ul {
    display: flex;
    justify-content: center;
    color: #1d3fb3;
    padding: 40px;

}

header nav ul li {
    margin: 0 40px;
}

li a {
    color: #1d3fb3;
    font-size: 20px;

}

*/

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 50px;
}

.navigation li:first-child {
  margin-left: 0;
}

.navigation a {
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.logo {
  margin-left: 40px;
}

.logo img {
  width: 80px;
  /* Adjust the size as needed */
  height: auto;
  /* Maintain aspect ratio */

}

footer {
    text-align: center;
    padding: 5%;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.container img {
    max-width: 70%;
    max-height: 70%;
}

/*

header {
    position: relative;
    background-color: rgb(149, 149, 149);
    height: 20vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
 header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

*/

  /*
.logo {
    width: 70px;
    height: 75x;
    grid-area: Nav;

}
*/

/* Hover effekt */

a:link {
    color: #1d3fb3;
}
  
  /* visited link */
a:visited {
    color: #1d3fb3;
}
  
  /* mouse over link */
a:hover {
    color: #ff5101;
}
  
  /* selected link */
a:active {
    color: #ff5101;;
}

/* VIDEO */

.video-container {
  position: relative;
  width: 500px;
  height: 300px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
