p{
    color: #1d3fb3;
    text-align: center;
    margin: 120px;

}

header nav ul li a{
    text-decoration: none;
}

ul{
    width: 100%;
    color: #1d3fb3;

}

header li{
    display: block;
    text-align: center;
    display: block;

}

header ul{
    display: flex;
    justify-content: center;
    color: #1d3fb3;
    padding: 20px;
}

header nav ul li{
    margin: 0 40px;
}

li a{
    color: #1d3fb3;

}


footer{
    text-align: center;
    padding: 5%;
}



.pdf {
    vertical-align: middle;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.figur-1 { 
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
}



.figur-2 {
    display: flex; 
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.figur-3 {
    display: flex; 
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}