p{
    color: #1d3fb3;
    text-align: center;
    margin: 120px;

}

body{
    font-family: 'Cormorant Garamond';
}

header nav ul li a{
    text-decoration: none;
}

ul{
    width: 100%;
    color: #1d3fb3;

}

header li{
    display: block;
    text-align: center;
    display: block;

}

header ul{
    display: flex;
    justify-content: center;
    color: 1d3fb3;
    padding: 20px;
}

header nav ul li{
    margin: 0 40px;
}

li a{
    color: #1d3fb3;

}


footer{
    text-align: center;
    padding: 5%;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.container img{
    max-width: 60%;
    max-height: 60%;
    
}